@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
	font-family: 'Open Sans', sans-serif;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.2rem }
h4 { font-size: 1rem }
h5 { font-size: 0.8rem }
h6 { font-size: 0.5 }

@media (max-width: 575px) {
	.mobile-hidden {
		display: none;
	}

	.mt-sm-0 {
		margin-top: 0 !important;
	}

	.title {
		letter-spacing: 0.2em !important;
	}

	.dot {
		height: 1rem;
		width: 1rem;
		background: var(--brown);
		border-radius: 50%;
		position: absolute;
		left: 0;
		margin: 0;
		top: 1.5em;
		transform: translate(-50%);
	}
}

@media (min-width: 576px) {
	.tablet-show {
		display: inline;
	}
}


.me-1 {
	margin-right: 1rem;
}

.card {
	border-radius: 0.8rem;
	padding: 1rem 0;
	box-shadow: 0px 5px 14px rgba(var(--dark-blue), 0.9);
	max-width: 1200px;
}

.card > * {
	padding: 0.4rem 2rem 1rem 2rem;
}

.p-3 {
	padding: 1.2rem;
}

.brand {
	font-weight: 400;
}

.flex {
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.fs-4 {
	font-size: 1.2rem;
}

.mb-3 {
	margin-bottom: 1rem;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

i {
	margin: 0.1rem 0.5rem;
}

li {
	margin: 0.1rem 0.5rem;
}

.flex-wrap {
	flex-wrap: wrap;
}

.display {
	font-weight: 300;
	font-size: 2.5rem;
	padding: 0 4rem 0.7em 1rem;
	display: inline-block;
	border-bottom: 2px solid;
}

a {
	color: inherit;
	text-decoration: none;
	padding: 3px;
}

.container {
	max-width: 1000px
} 
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

h1 {
	line-height: 1.3em;
}

hr {
	border: none;
	border-top: 1px solid var(--light-gray);
}

.title {
	letter-spacing: 0.6rem;
	font-weight: 400;
}

main {
	line-height: 1.5em;
}

.mx-0 {
	margin-left: 0;
	margin-right: 0;
}

a:hover  {
	background: var(--yellow);
	border-radius: 4px;
}

.block {
	max-width: 350px;
}

section {
	margin: 2rem 0 4rem 0;
}

.skill {
	border-left: 1px solid var(--brown);
	padding: 0.1rem 1rem;
	margin: 0 1.5rem;
	max-width: 200px;
	min-width: 200px;
	position: relative;
}

.text-center {
	text-align: center;
}
.present {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.photo {
	height: 280px;
}

/* Project */

.projects {
	background-color: var(--black);
}

.project-image {
	max-height: 250px;
	max-width: 100%;
	border-radius: 4px;
	box-shadow: 0px 5px 10px var(--dark-black);
}

@keyframes show-image {
	to {
		transform: scale(110%);
		position: relative;
		z-index: 4;
		filter: brightness(0.2);
	}
}

@keyframes show-legend {
	to {
		visibility: unset;
		z-index: 5;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.image-container:hover .project-image {
	animation-name: show-image;
	animation-duration: 150ms;
	animation-fill-mode: forwards;
}
.image-container:hover legend {
	animation-name: show-legend;
	animation-duration: 150ms;
	animation-fill-mode: forwards;
}

.gap-2 {
	gap: 1.5rem 2rem;
}

.image-container {
	margin-bottom: 0.5rem;
	position: relative;
}

.image-container > legend {
	font-size: 2rem;
	position: absolute;
	display: inline-block;
	visibility: hidden;
	left: 50%;
	top: 1rem;
	transform: translate(-50%, -50%);
}